<section >
  <div class="container">

    <div class="small-container">
      <div class="small-container">
        <h1> Welcome to the game </h1>
        <p> You can play now </p>
      </div>
      <a class="buttom" href="/new"> Enter </a>
    </div>

  </div>
</section>