<section class="container">
  <div>
    <section class="small-container-main small-container">
      <h1 class="title"> New Longest game </h1>
        <div class="cards">
          <% @letters.each do |letter| %>
            <div class="card">
              <h3> <%= letter %> </h3>
            </div>
          <% end %>
        </div>
    </section>

    <section class="small-container-main">
      <h1 class="title"> What is the longest word you can find? </h1>

        <form action="/score" method="POST" class="form-inline">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :letters, @letters %>
          <div class="input-group">
            <input type="text" name="word" class="input">
            <span class="input-group-btn">
              <input type="submit" value="play" class="submit">
            </span>
          </div>
        </form>
    </section>

  </div>
</section>
