/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #d9ddcf;
  margin: 0px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

article {
  margin-bottom: 40px;
}
strong {
  color: #4E13CD;
}
 .container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
 }

 .small-container-main {
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  width: 740px;
}

.small-container {
   background-color: white;
   margin-bottom: 40px;
 }

 .cards {
   padding: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .card {
   border: 1px solid #4E13CD;
   border-radius: 2px;
   background-color: white;
   color: #4E13CD;
   border-radius: 5px;
   width: 52px;
   margin: 0px 10px;
 }

 .card:hover {
  border-radius: 2px;
  background-color: #4E13CD;
  color: white;
  border-radius: 5px;
  width: 52px;
}

 .title {
   margin-top: 15px;
   text-align: center;
   font-size: 30px;
  }

  .input {
    border: 1px solid #4E13CD;
    border-radius: 5px;
    padding: 10px;
  }

  .submit {
    padding: 10px;
    background: #4E13CD;
    color: white;
    border-radius: 5px;
  }

  .buttom {
    padding: 15px 50px 15px 50px;
    background: #4E13CD;
    text-decoration: none;
    color: white;
    border-radius: 5px;
  }

  .button-again {
    background-color: #a98de7;
    color: #4E13CD;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s;
    &:hover {
      background-color: #4E13CD;
      color: white;
    }
  }
